* {
  font-family: "Fjalla One", sans-serif;
}
body {
  background-color: #d3d3d3;
  margin: 0;
}

#nav {
  width: 95%;
  margin: 0 auto;
}

header {
  background-color: #a32638;
  box-shadow: 0px 3px 8px 0px black;
}

header::after {
  content: "";
  display: table;
  clear: both;
}
#sitename {
  float: left;
  color: white;
  margin: 0;
  padding: 10px 0 0 20px;
  padding-bottom: 10px;
}

nav {
  float: right;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  color: white;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.navitem:hover {
  background-color: #741724;
}

h2 {
  text-align: center;
}
/* JUST FOR NOW TEMPLATE COPIED FROM MY LAB- ANDRES */
.Login {
  width: 300px;
  margin: 0 auto;
  padding: 15px;
  border: 4px solid #ccc;
  background: #eaeaea;
  border-radius: 5px;
  display: table;
  text-align: center;
}
input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  margin-bottom: 2px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: grey;
  cursor: pointer;
}
a.RegisterLink,
a.LoginLink {
  color: #741724;
}
/* JUST FOR NOW TEMPLATE COPIED FROM MY LAB- ANDRES */
.registerForm {
  width: 300px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #ccc;
  background: #eaeaea;
  border-radius: 5px;
  display: table;
  text-align: center;
}
.RegisterTitle {
  text-align: center;
}
