<ol id="userList">
    {{#each results}}
        <li id="listedUsers">
        <div class="ProfileRequestSection">
            <div class="ProfilePictureSearch">
                <img class="ProfilePicture" src = "{{{profilePictureUrl}}}" alt="Profile Picture">
            </div>
            <div class="UserNameSearch">
                <h2 class="userNameFromRequest">{{displayname}}</h2>
            </div>
        </div>
        <div class="WPM">
            {{#if wpmShow}}
                <p class="wordsperminute">WPM: {{averageWPM}}</p>
            {{/if}}
        </div>
        <div class="Acc">
            {{#if accShow}}
                <p class="wordsperminute">Acc: {{averageAcc}}</p>
            {{/if}}
        </div>
        </li> 
    {{/each}}
</ol>