<ol id="userList">
    {{#each results}}
    <li>
        <div class="ProfileRequestSection">
            <div class="ProfilePictureSearch">
                <img class="ProfilePicture" src="{{{profilePictureUrl}}}" alt="Profile Picture">
            </div>
            <div class="displaynameSearch">
                <h2 class="displaynameFromRequest">{{displayname}}</h2>
            </div>
        </div>
        <div class="WPM">
            {{#if wpmShow}}
            <p id="wordsperminute">WPM: {{averageWPM}}</p>
            {{/if}}
        </div>
        <div class="Acc">
            {{#if accShow}}
            <p id="accuracy">Acc: {{averageAcc}}</p>
            {{/if}}
        </div>
    </li>
    {{/each}}
</ol>