<div class="ProfileRequestSection">
    <div class="ProfilePictureSearch">
        <img class="ProfilePicture" src = "{{{profilePictureUrl}}}" alt="Profile Picture">
    </div>
    <div class="displaynameSearch">
        <h2 class="displaynameFromRequest">{{displayname}}</h2>
    </div>
</div>