<div class="ProfileRequestSection">
    <div class="ProfilePictureSearch">
        <img class="ProfilePicture" src = "{{{profilePictureUrl}}}" alt="Profile Picture">
    </div>
    <div class="UserNameSearch">
        <h2 class="userNameFromRequest">{{username}}</h2>
    </div>
</div>