* {
  font-family: "Fjalla One", sans-serif;
}
body {
  background-color: #d3d3d3;
  margin: 0;
}

#nav {
  width: 95%;
  margin: 0 auto;
}

header {
  background-color: #a32638;
  box-shadow: 0px 3px 8px 0px black;
  display: flex;
}

header::after {
  content: "";
  display: table;
  clear: both;
}
#sitename {
  float: left;
  color: white;
  margin: 0;
  padding: 10px 0 0 20px;
  padding-bottom: 10px;
}

nav {
  float: right;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  color: white;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.navitem:hover {
  background-color: #741724;
}

h2 {
  text-align: center;
}
/* JUST FOR NOW TEMPLATE COPIED FROM MY LAB- ANDRES */
.Login {
  width: 300px;
  margin: 0 auto;
  padding: 15px;
  border: 4px solid #ccc;
  background: #eaeaea;
  border-radius: 5px;
  display: table;
  text-align: center;
}
input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  margin-bottom: 2px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: grey;
  cursor: pointer;
}
a.RegisterLink,
a.LoginLink {
  color: #741724;
  padding: 0;
}
/* JUST FOR NOW TEMPLATE COPIED FROM MY LAB- ANDRES */
.registerForm {
  width: 300px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #ccc;
  background: #eaeaea;
  border-radius: 5px;
  display: table;
  text-align: center;
}
.RegisterTitle {
  text-align: center;
}

/* Typing Test Styling */
#info {
  display: flex;
}

.info {
  margin: 5px;
  font-size: 25px;
}

#timer {
  margin-left: 510px;
}

#wpm {
  margin-left: 275px;
}

#accuracy {
  margin-left: 340px;
}

#restart-container {
  display: flex;
  justify-content: center;
}

#restart {
  margin-top: 10px;
}

#prompt {
  margin-left: 500px;
  margin-right: 500px;
  background-color: #c2c2c2;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 14px;
  line-height: 25px;
  height: 100px;
  cursor: pointer;
  overflow: hidden;
  filter: blur(5px);
  position: relative;
  z-index: 1;
  font-size: 20px;
}

#prompt:focus {
  filter: blur(0px);
}

#focusmsg {
  font-size: 20px;
  text-align: center;
  position: absolute;
  padding: 0;
  top: 200px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  width: fit-content;
  pointer-events: none;
}

.word {
  display: inline-block;
}

.letter {
  padding-left: 0.25px;
  padding-right: 0.25px;
}

.letter.correct {
  color: green;
}

.letter.incorrect {
  color: red;
}

.space.incorrect {
  background-color: red;
  background: rgba(255, 0, 0, 0.3);
}

.next {
  background-color: grey;
  color: white;
}

/* Dropdown Styling */
#dropdown-menus {
  text-align: center;
  width: 10%;
  margin-left: 45%;
  padding-top: 10px;
}

.dropdown {
  margin-top: 10px;
}

img.ProfilePicture {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  border: #741724 5px solid;
}
.userBio {
  margin: auto;
  text-align: center;
  word-wrap: break-word;
  border: #741724 2px dotted;
  padding: 10px;
  max-width: 450px;
}
#editProfileBioButton {
  height: auto;
  text-align: center;
  background-color: #a32638;
  color: white;
  margin: auto;
  position: relative;
  left: 66.66%;
}
#CancelEditBioButton {
  height: auto;
  text-align: center;
  background-color: #a32638;
  color: white;
  margin: auto;
  position: relative;
  left: 66.66%;
}
#editProfilePictureButton {
  padding: 4px 2px;
  background-color: #a32638;
  margin: auto;
  position: relative;
  left: 80%;
  top: 10px;
  color: white;
}
#CanceleditProfilePictureButton {
  padding: 4px 2px;
  background-color: #a32638;
  margin: auto;
  position: relative;
  left: 66.66%;
  color: white;
}
#editProfilePictureButton:hover,
#editProfileBioButton:hover {
  cursor: pointer;
}
div.ProfilePictureSecion {
  display: grid;
  justify-content: center;
  align-items: center;
}
div.BioSection {
  padding-top: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}
h2.username {
  text-align: center;
}
#SendFriendRequestButton {
  padding: 4px 2px;
  background-color: #a32638;
  margin: auto;
  position: absolute;
  left: 55%;
  bottom: 87%;
  color: white;
}
#FriendsSection {
  padding-top: 15px;
  display: grid;
  justify-content: center;
}
#SendToUsersProfile {
  text-align: center;
  margin: auto;
  align-self: center;
  padding: 0;
  color: #741724;
}
#FriendsListItem {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  text-align: center;
}
#FriendsList {
  border: #741724 2px dotted;
}
