{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}
{{! Refer lecture code to learn more on how this works:
https://github.com/stevens-cs546-cs554/CS-546/tree/master/lecture_08/code/HTML_Templating }}
<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8' />
  <title>{{{title}}}</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap' />
  <link rel='stylesheet' href='../../public/CSS/site.css' />
</head>

<body>
  <header>
    <div id='nav'>
      <a href='/'>
        <h1 id='sitename'>DuckDash</h1>
      </a>
      <nav>
        <ul>
          <li class='navitem'><a href='/'>Home</a></li>
          <li class='navitem'><a href='/leaderboard'>Leaderboard</a></li>
          <li class='navitem'><a href='/search'>Search</a></li>
          {{#if loggedin}}
          <li class="navitem"><a href="/profile">Profile</a></li>
          <li class='navitem'><a href='/logout'>Logout</a></li>
          {{else}}
          <li class='navitem'><a href='/login'>Login / Sign Up</a></li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </header>
  <main>
    {{{body}}}
  </main>
  {{#if partial}}
  {{> (lookup . 'partial') }}
  {{/if}}
</body>

</html>