{{!
You can use this template to render any errors on your site if you wish
}}

<section class="ErrorPage">
    <h1>Error</h1>

    <p>{{{Error}}}</p>
    <a href="/"><button>Go Home</button></a>
</section>