<h2>Home page will go here</h2>

{{!-- Sketching out, have an a item which is hidden, using client side un hide it once the test is over, promt user to
login to save their score, have another a item which
allows user to stay on page, hiding the a item --}}
<a class="goToLogin" href="/login"></a>
<a class="stayOnPage" href="/"></a>