<h2>Typing Test</h2>
<div id="info">
    <div class="info" id="timer">15 Seconds
    </div>
    <div class="info" id="wpm">100 WPM</div>
    <div class="info" id="accuracy">97%</div>
</div>
<div id="test">
    <div id="prompt" tabindex="0">
    </div>
    <p id="focusmsg">Click in here to type!</p>
</div>
<div id="restart-container"><button id="restart">Restart</button></div>
<div id="dropdown-menus">
    <div id='prompt-dropdown' class="dropdown">
        <label for="promptDropdown">Text:</label>
        <select id="promptDropdown">
            <option value="random">Random</option>
            <option value="option2">filler1</option>
            <option value="option3">filler2</option>
            <option value="option4">filler3</option>
            <option value="option5">filler4</option>
        </select>
    </div>

    <div id='time-dropdown' class="dropdown">
        <label for="timeDropdown">Time:</label>
        <select id="timeDropdown">
            <option value="15s">15 Seconds</option>
            <option value="30s">30 Seconds</option>
            <option value="1m">1 Minute</option>
        </select>
    </div>

    <div id='diff-dropdown' class="dropdown">
        <label for="difficultyDropdown">Difficulty:</label>
        <select id="difficultyDropdown">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>
</div>

{{!-- Sketching out, have an a item which is hidden, using client side un hide it once the test is over, promt user to
login to save their score, have another a item which
allows user to stay on page, hiding the a item --}}
{{!-- not sure what this is for so i commented it out for now ;) --}}
{{!-- <a class="goToLogin" href="/login"></a>
<a class="stayOnPage" href="/"></a> --}}