<h2>Typing Test</h2>

<div id="info">
    <div class="info" id="timer">30 Seconds
    </div>
    <div class="info" id="wpm">100 WPM</div>
    <div class="info" id="accuracy">97%</div>
</div>
<div id="test">
    <div id="prompt" tabindex="0">
    </div>
    <p id="focusmsg">Click in here to type!</p>
</div>
<div id="restart"><button>Restart</button></div>

{{!-- Sketching out, have an a item which is hidden, using client side un hide it once the test is over, promt user to
login to save their score, have another a item which
allows user to stay on page, hiding the a item --}}
{{!-- not sure what this is for so i commented it out for now ;) --}}
{{!-- <a class="goToLogin" href="/login"></a>
<a class="stayOnPage" href="/"></a> --}}