<h2>Leaderboard</h2>

<div id="wpm-accuracy-container">
    <button id="wpm">WPM</button>
    <button id="accuracy">ACC</button>
</div>

<ol id="userList">
    {{#each profile}}
        <li>{{>profileLookup}}</li> 
    {{/each}}
</ol>