<h2>Leaderboard</h2>

<h3 id="sortingMethod">WPM</h3>

<p id="error">
        {{#if error}}
        Error "{{{error}}}"
        {{/if}}
</p>

<div id="wpm-accuracy-container">
    <button id="Leaderboardwpm">WPM</button>
    <button id="Leaderboardaccuracy">ACC</button>
</div>

<ol id="userList">
    {{#each results}}
        <li id="listedUsers">{{>profileLookup}}</li> 
    {{/each}}
</ol>