<h2 class="userName">{{username}}</h2>
<section>
    <div class="ProfilePictureSecion">
        <img class="ProfilePicture" src="{{{profilePictureUrl}}}" alt="Profile Picture">
    </div>
    <button id="editProfilePictureButton">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="24" height="24"
            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
            <path d="M13.5 6.5l4 4" />
        </svg>
        <span>Edit</span>
    </button>

    <div class="BioSection">
        <p class="userBio">{{{userBio}}}</p>
        <form action="/profile" method="POST" id="changeBio" hidden>
            <input type="text" name="bioInput" id="bioInput" value="{{{userBio}}}" />
            <input type="submit" value="Submit">
        </form>
    </div>
    <button class="editProfileBioButton" id="editProfileBioButton">Edit Bio</button>

    {{!-- //TODO: Add a button to change whatever the user wants to change

    Will create post request to /profile with the following data:
    {
    "bioInput": "whatever the user wants to change"
    }
    will then call the updateUser function depending on what the user wants to change
    will then redirect to /profile
    --}}




</section>