<h2 class="userName">{{username}}</h2>
<section>
    <button id="editProfilePicture">Edit Profile Picture</button>
    <img class="ProfilePicture" src="{{{profilePictureUrl}}}" alt="Profile Picture">
    <div class="BioSection">
        <p class="userBio">{{{userBio}}}</p>
        <form action="/profile" method="POST" id="changeBio" hidden>
            <input type="text" name="bioInput" id="bioInput" />
            <input type="submit" value="Submit">
        </form>
        <button class="editProfileBio" id="editProfileBio">Edit Bio</button>
    </div>


    {{!-- //TODO: Add a button to change whatever the user wants to change

    Will create post request to /profile with the following data:
    {
    "bioInput": "whatever the user wants to change"
    }
    will then call the updateUser function depending on what the user wants to change
    will then redirect to /profile
    --}}




</section>