<section>
    <div class="ProfilePictureSecion">
        <h2 class="userName">{{username}}</h2>
        <img class="ProfilePicture" class="NO-CACHE" src="{{{profilePictureUrl}}}" alt="Profile Picture">
    </div>


    <div class="BioSection">
        <p class="userBio">{{{userBio}}}</p>
    </div>

</section>